/* App-wide styling */
body {
    background: transparent;
    /* background-color: #0f1116; */
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 14px;
}

.collapsible {
    overflow: hidden;
    /* transition: all 0.25s ease-in-out; */
}

.monaco-editor {
    position: absolute !important;
}

.app {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 10px;
}

.bar {
    overflow: auto;
}

.bar>h2 {
    font-size: 1.1em;
    margin: 0;
    text-align: center;
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ffffff30;
    border-radius: 5px;
    transition: background 0.5s;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff50;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

button {
    border-radius: 5px;
    background: #ffffff30;
    padding: 5px;
    border: none;
    border-top: 1px solid #ffffff20;
    color: white;
    text-anchor: middle;
    transition: background 0.5s;
    user-select: none;
}

button:hover {
    background: #ffffff50;
    cursor: pointer;
}

button.start {
    background-color: hsl(100 40% 40%);
}

button.stop {
    background-color: hsl(0 40% 50%);
}

.setting-value * {
    transition: color 0.5s;
}

.green {
    color: hsl(100 50% 50%);
}

.red, .error {
    color: hsl(0 50% 50%);
}

.yellow, .warn {
    color: hsl(50 70% 50%);
}

.blue {
    color: hsl(200 70% 60%);
}

.info {
    color: #ffffffa0;
}

.pink {
    color: hsl(300 50% 50%);
}

.gray {
    color: hsl(0 0% 70%);
}

button.start:hover {
    background-color: hsl(100 40% 50%);
}

button.stop:hover {
    background-color: hsl(0 40% 60%);
}

select {
    background: transparent;
    color: rgba(255, 255, 255, 0.75);
    border: none;
    margin: 0;
}

select option {
    background: rgba(0, 0, 0, 0.75);
    color: rgba(255, 255, 255, 0.85);
}

hr {
    border: 1px solid #ffffff30;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.table {
    border-radius: 10px;
    background: #ffffff10;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.table>div:first-child {
    border-top-left-radius: 10px;
}

.table>div:nth-last-child(2) {
    border-bottom-left-radius: 10px;
}

.table>div:nth-child(2n-1) {
    background-color: #ffffff10;
    height: calc(100% - 4px);
    text-align: left;
}

.table>div:nth-child(2n) {
    text-align: right;
}

.table>div {
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.logs {
    white-space: pre-wrap;
    overflow-y: auto;
}

.logs div, .logs hr {
    animation: fadeIn 0.25s ease-in-out;
}

#hero {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}


.divider.horizontal {
    width: 100%;
    height: 4px;
    transition: background 0.25s;
}

.divider.vertical {
    width: 4px;
    height: 100%;
    transition: background 0.25s;
}

.divider:hover, .divider.dragging {
    background: #ffffff80;
}

.log-button {
    opacity: 0;
    transition: all 0.25s;
}

div:hover > .log-button {
    opacity: 1;
}

.switch {
    position: relative;
    width: 35px;
    height: 20px;
    display: inline-block;
}

.switch span {
    position: absolute;
    background-color: #ffffff20;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color .25s;
}

.switch span::before {
    background-color: white;
    border-radius: 50%;
    content: "";
    position: absolute;
    transition: all .25s;
    left: 3px;
    bottom: 3px;
    height: 14px;
    width: 14px;
}

label:hover input+span {
    background-color: #ffffff40;
}

label:hover input:checked+span {
    background-color: #ffffff80;
}

input:checked+span {
    background-color: #ffffff60;
}

input:checked+span::before {
    transform: translateX(15px);
}

.switch input {
    display: none;
}
